{{- $image := resources.GetRemote (printf "%s" (.Destination | safeURL)) -}}
{{- $Permalink := .Destination | relURL | safeURL -}}
{{- $alt := .PlainText | safeHTML -}}
{{- $Width := 0 -}}
{{- $Height := 0 -}}
{{- $Srcset := "" -}}

{{/* SVG and external images won't work with gallery layout, because their width and height attributes are unknown */}}
{{- $galleryImage := false -}}

{{- if $image -}}
	{{- $notSVG := ne (path.Ext .Destination) ".svg" -}}
	{{- $Permalink = $image.RelPermalink -}}

	{{- if $notSVG -}}
		{{- $Width = $image.Width -}}
		{{- $Height = $image.Height -}}
		{{- $galleryImage = true -}}

		{{- if (default true .Page.Site.Params.imageProcessing.content.enabled) -}}
			{{- $small := $image.Resize `webp 360x` -}}
      {{- $medium := $image.Resize `webp 480x` -}}
      {{- $large := $image.Resize `webp 720x` -}}
			{{- $full := $image.Resize `webp 1024x` -}}
			{{- $Srcset = printf `%s 360w, %s 480w, %s 720w, %s 1024w` $small.RelPermalink $medium.RelPermalink $large.RelPermalink $full.RelPermalink -}}
		{{- end -}}
	{{- end -}}
{{- end -}}

<picture
	{{ if $galleryImage }}
		class="gallery-image" 
		data-flex-grow="{{ div (mul $image.Width 100) $image.Height }}"
		data-flex-basis="{{ div (mul $image.Width 240) $image.Height }}px"
	{{ end }}
>
	{{ with $Srcset }}
		<source type="image/webp"
			srcset="{{ $Srcset }}"
		>
	{{ end }}
	<img src="{{ $Permalink }}"
		{{ with $Width }}width="{{ . }}"{{ end }}
		{{ with $Height }}height="{{ . }}"{{ end }}
		loading="lazy"
		decoding="async"
		{{ with $alt }}
			alt="{{ . }}"
		{{ end }}
	>
</picture>