<article>
  <a href="{{ .RelPermalink }}">
    <div class="article-details">
      <h2 class="article-title">
        {{- .Title -}}
      </h2>
      {{ with .Params.summary }}
        <span class="section-description">{{ . | truncate 75 }}</span>
      {{ end }}
      <footer class="article-time">
        <time class="time" datetime="{{ .PublishDate }}" title="{{ .PublishDate }}">{{ partial "helper/icon" "clock" }} {{ .Date | time.Format ":date_full" }}</time>
        {{- if .Lastmod }}
          <time class="time" datetime="{{ .Lastmod }}" title="{{ .Lastmod }}">{{ partial "helper/icon" "clock-edit" }} {{ .Lastmod | time.Format "Monday, 02 January 2006 15:04" }} </time>
        {{- end }}
      </footer>
    </div>
    {{- $image := partialCached "helper/image" (dict "Context" . "Type" "articleList") .RelPermalink "articleList" -}}
    {{ if $image.exists }}
      <div class="article-image">
        {{ if $image.resource }}
          {{- $Permalink := $image.resource.RelPermalink -}}
          {{- $Width := $image.resource.Width -}}
          {{- $Height := $image.resource.Height -}}
          {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
            {{- $thumbnail := $image.resource.Fill "80x80" -}}
            {{- $Permalink = $thumbnail.RelPermalink -}}
            {{- $Width = $thumbnail.Width -}}
            {{- $Height = $thumbnail.Height -}}
          {{- end -}}
          <img loading="lazy" src="{{ $Permalink }}" width="{{ $Width }}" height="{{ $Height }}" alt="{{ .Title }}" >
        {{ else }}
          <img loading="lazy" src="{{ $image.permalink }}" alt="{{ .Title }}" />
        {{ end }}
      </div>
    {{ end }}
  </a>
  {{ partial "article/components/tags" .  }}
</article>
{{ $ISO8601 := "2006-01-02T15:04:05-07:00" }}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "url": "{{ .Permalink }}"
  },
  "headline": "{{ .Title | safeJS }}",
  "image": "{{ .Params.ThumbSchema }}",
  "thumbnail": {
    "@type": "ImageObject",
    "url": "{{ $image.permalink }}"
  },
  "datePublished": "{{ (.Date.Format $ISO8601) }}",
  "dateModified": "{{ (.Lastmod.Format $ISO8601) | default (.Date.Format $ISO8601) }}",
  "author": {
    "@type": "Person",
    "name": "rmdhnreza",
    "url": "https://rmdhnreza.my.id"
  },
  "publisher": {
    "@type": "Organization",
    "name": "rmdhnreza",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL | strings.TrimRight "/" }}/favicon.ico"
    }
  },
  "description": "{{ if .Description }}{{ .Description | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }}"
}
</script>