{{- $query := first 1 (where .Context.Site.Pages "Layout" "==" "search") -}}
{{- if $query -}}
    {{- $searchPage := index $query 0 -}}
    <form role="search" action="{{ $searchPage.RelPermalink }}" class="search-form widget" {{ with .OutputFormats.Get "json" -}}data-json="{{ .Permalink }}" {{- end }}>
        <p>
            <label aria-label="{{ T "search.title" }}">{{ T "search.title" }}</label>
            <input accesskey="s" type="search" aria-label="{{ T `search.placeholder` }}" name="keyword" required placeholder="{{ T `search.placeholder` }}" />
        
            <button role="button" type="submit" title="{{ T `search.title` }}">
                {{ partial "helper/icon" "search" }}
            </button>
        </p>
    </form>
{{- else -}}
    {{- warnf "Search page not found. Create a page with layout: search." -}}
{{- end -}}