@use "sass:selector";

@mixin tag($tag) {
  $ampersand: & + "";
  $selectors: simple-selectors(str-replace($ampersand, " ", ""));

  $main-selector: nth($selectors, -1);
  $previous-selectors: str-replace($ampersand, $main-selector, "");

  @at-root {
    #{$previous-selectors}#{$tag}#{$main-selector} {
      @content;
    }
  }
}

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

.article-content {
  font-size: .925em;
  .copyCodeButton {
    top: calc(var(--card-padding) - 11px);
  }
  .highlight {
    padding: 0;
    pre {
      padding: 0;
    }
  }
  code {
    color: var(--card-text-color-main);
  }
  h2 {
      margin-left: calc((var(--card-padding)) * -1);
      margin-right: calc((var(--card-padding)) * -1);
      width: calc(100% + var(--card-padding) * 2);
      background-color: var(--card-background-color);
      color: var(--accent-color);
      padding: var(--small-card-padding);
      display: flex;
      align-items: center;
      justify-content: center;
      border-inline-start: 0;
      letter-spacing: 1px;
  }
  td {
    border: none;
    &:has(img) {
      padding: 0em 2em !important;
    }
    &:not(:has(img)) {
      border: 1px solid var(--table-border-color);
    }
  }
}

.article-list--compact {
  border: 1px solid var(--border-color);
  & article {
    display: flex;
    flex-direction: column;
    & > a {
      padding: 0;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--border-color);
    }
    & .article-details {
      display: flex;
      flex-grow: 0;
      flex-basis: 80%;
      padding: var(--small-card-padding) 0 0 var(--small-card-padding);
      gap: 15px;
      @media (max-width: 752px) {
        padding: var(--small-card-padding);
      }
      h2 {
        font-weight: 400;
      }
    }
    & .article-image {
      padding: var(--small-card-padding) 0 0;
      display: inline-flex;
      align-items: center;
      flex-basis: 20%;
      justify-content: center;
      & img {
        height: var(--thumbnail-size);
        width: var(--thumbnail-size);
        object-fit: contain;
        border-radius: var(--card-border-radius);
      }
    }
    & .article-tags {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: var(--gaps-padding) 0 var(--small-card-padding) var(--small-card-padding);
      @media (max-width: 752px) {
        padding: var(--small-card-padding);
        padding-top: 0;
      }
      a {
        background: var(--categories-color);
      box-shadow: var(--shadow-l1);
      border-radius: var(--tag-border-radius);
      padding: 8px 20px;
      color: var(--categories-text-color);
      font-size: 1.4rem;
      transition: box-shadow 0.3s ease;
      border: 1px solid var(--categories-border-color);
      &:hover {
        background: var(--categories-color);
        color: var(--categories-text-color);
        box-shadow: var(--shadow-l2);
      }
      }
    }
    & .article-title {
      gap: 15px;
    }
  }
}

.article-page {
  & .main-article {
    border: 1px solid var(--border-color);
    & .article-header {
      & .article-details {
        padding-bottom: 15px;
      }
    }
  }
}

.article-time {
  & time,
  & .time.time {
    display: flex;
    align-items: center;
    column-gap: 6px;
  }
  & svg {
    stroke-width: 2.33;
  }
}

.container {
  .right-sidebar {
    @media (max-width: 1280px) {
      max-width: calc(var(--right-sidebar-max-width) - 5%);
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.chroma {
  padding: var(--small-card-padding);
  & .lntd {
    vertical-align: top;
  }
  & .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    display: block;
    tbody {
      display: block;
      width: 100%;
      tr {
        display: flex;
        width: 100%;
        td:last-child {
          overflow-x: auto;
        }
      }
    }
  }
  & .hl {
    display: block;
  }
  & .lnt {
    color: var(--line-color) !important;
    margin-right: 1.2em !important;
    padding: 0 !important;
    display: block;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  & .ln {
    margin-right: 0 !important;
    padding: 0 !important;
  }
}

.gallery-image {
  > a {
    cursor: zoom-in;
  }
}

.menu {
  li {
    svg {
      stroke-width: 2.33;
    }
  }
}

.note {
  margin-left: calc((var(--card-padding)) * -1);
  margin-right: calc((var(--card-padding)) * -1);
  width: calc(100% + var(--card-padding) * 2);
  background-color: var(--note-background-color);
  color: var(--note-text-color);
  padding: calc(var(--small-card-padding) - 15px );
  display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
}

.pagination {
  border: 1px solid var(--border-color);
}

.search-form {
  input {
    border: 1px solid var(--border-color);
  }
}

.search-result--list.article-list--compact {
  article {
    a {
      padding: var(--small-card-padding) 0;
      .article-details {
        padding: 0 0 0 var(--small-card-padding);
      }
      .article-image {
        padding: 0 0 0 var(--small-card-padding);
      }
    }
  }
}

.section-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  column-gap: 6px;
}

.tableOfContent {
  padding: 15px 0 0 var(--card-padding);
  background-color: var(--card-background-color);
  color: var(--card-background-text-color);
  & .tableOfContentList {
    background-color: var(--article-heading-background);
    color: var(--card-text-color-main);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    @include tag(#TableOfContents) li {
      margin: 12px 0 0;
      & > ol > li {
        margin: 12px 0 0 15px;
      }
    }
  }
  & .titleTableOfContent {
    @include tag(h2) {
      margin: 0;
    }
  }
}

.socialShare {
  display: flex;
  padding: var(--card-padding);
  padding-top: 0;
  @include tag(span) .socialInfo {
    color: var(--card-text-color-main);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0.5em 0 0;
  }
  @at-root .socialButton {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 0.5em;
    @include tag(a) .socialLinksFacebook {
      color: #fff;
      background-color: #1778f2;
      padding: 8px 16px;
      border-radius: var(--tag-border-radius);
      display: flex;
      font-size: 1.4rem;
      transition: background-color 0.5s;
      gap: 0.5rem;
      justify-content: center;
    }
    @include tag(a) .socialLinksTwitter {
      color: #fff;
      background-color: #1da1f2;
      padding: 8px 16px;
      border-radius: var(--tag-border-radius);
      display: flex;
      font-size: 1.4rem;
      transition: background-color 0.5s;
      gap: 0.5rem;
      justify-content: center;
    }
  }
  @media only screen and (max-width: 480px) {
    display: grid;
    grid-row-gap: 0.5em;
  }
}

.tagCloud {
  .tagCloud-tags {
    a {
      border: 1px solid var(--border-color);
    }
  }
}

.widget.archives {
  .archives-year {
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--border-color);
    }
  }
  .widget-archive--list {
    border: 1px solid var(--border-color);
  }
}

a.link {
  color: var(--link-color);
  font-weight: 700;
}

aside {
  &.related-content--wrapper {
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: var(--card-border-radius);
    .section-title, .related-content {
      margin: 10px;
    }
  }
}

details {
  background: var(--spoiler-background-color);
  border: 1px solid var(--spoiler-border-color);
  border-radius: var(--card-border-radius);
  box-shadow: var(--shadow-l2);

  &:hover {
    cursor: pointer;
  }

  &.spoiler[open] {
    summary {
      border-bottom: 1px solid var(--spoiler-border-color);
    }

    .chroma,
    .gallery,
    .highlight,
    .video-wrapper {
      border-bottom-left-radius: calc(var(--card-border-radius) - 1px);
      border-bottom-right-radius: calc(var(--card-border-radius) - 1px);
      cursor: auto;
      margin-left: calc((var(--card-padding)) * 0) !important;
      margin-right: calc((var(--card-padding)) * 0) !important;
      width: calc(100% + var(--card-padding) * 0) !important;
    }
  }

  .summary-title {
    user-select: none;
  }

  summary {
    padding: var(--details-padding);
    &:focus {
      outline: none;
    }

    &[open] {
      border-bottom: 1px solid var(--border-color);
    }
  }
}

nav#TableOfContents ol {
  counter-reset: item;
  list-style-type: none;
  & > li > a:first-of-type::before {
    color: var(--card-text-color-main);
    content: counters(item, ".") ". ";
    counter-increment: item;
    font-weight: 500;
  }
  & > li > ol {
    padding: 0;
  }
}

ol.breadcrumb {
  list-style: none;
  padding: 0;
  & li {
    display: inline;
    font-size: 18px;
    font-weight: 500;
    & > a {
      background: var(--categories-color);
      box-shadow: var(--shadow-l1);
      border-radius: var(--tag-border-radius);
      padding: 8px 20px;
      color: var(--categories-text-color);
      font-size: 1.4rem;
      transition: box-shadow 0.3s ease;
      border: 1px solid var(--categories-border-color);
      &:hover {
        background: var(--categories-color);
        color: var(--categories-text-color);
        box-shadow: var(--shadow-l2);
      }
    }
    & + li:before {
      padding: 2px;
      content: "";
    }
  }
  @at-root .breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-inline-start: 0;
    padding: 0;
  }
}

p:empty {
  display: none;
}

table:has(img) {
  padding: 0em 2em;
  border: 0;
  & thead {
    display: none;
    border: 0;
  }
}