<script>
  // Service Workers
  if (location.hostname !== 'localhost' && location.hostname !== '127.0.0.1') {
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('/sw.js', { scope: '/' })
        .then(() => {
          console.info('rmdhnreza.my.id Service Worker Registered');
        }, err => console.error("rmdhnreza.my.id Service Worker registration failed: ", err));

      navigator.serviceWorker
        .ready
        .then(() => {
          console.info('rmdhnreza.my.id Service Worker Ready');
        });
    }
  } else {
    console.warn('Service worker disabled on localhost.');
  }
</script>

<script>
  function loadGTM() {
      var script = document.createElement('script');
      script.src = 'https://www.googletagmanager.com/gtag/js?id=G-GBWJJDDSHQ';
      script.async = true;
      document.body.appendChild(script);
  }

  function initializeGTM() {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GBWJJDDSHQ');
  }

  window.onload = function() {
      loadGTM();
      initializeGTM();
  };
</script>

{{ if .IsPage }}
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
{{ end }}