<div class="socialShare">
  <span class="socialInfo">Bantu bagikan halaman ini ke:</span>
  <div class="socialButton">
    <a class="socialLinksFacebook" href="http://www.facebook.com/sharer.php?u={{ .Page.Permalink }}" rel="noopener" aria-label="Share on Facebook">
      {{ partial "helper/icon" "facebook" }}
    </a>
    <a class="socialLinksTwitter" href="https://twitter.com/share?url={{ .Page.Permalink }}" rel="noopener" aria-label="Share on Twitter">
      {{ partial "helper/icon" "twitter" }}
    </a>
  </div>
</div>