/*
*   Style: monokailight
*   https://xyproto.github.io/splash/docs/monokailight.html
*/

$color: #4c4f69;
$background-color: #eff1f5;
$error-color: #d20f39;
$keyword-color: #fe640b;
$text-color: #04a5e5;
$name-color: #1e66f5;
$literal-color: #df8e1d;

@import "common.scss";
